<?xml version="1.0" ?>
<model>
    <name>Robot_Evi</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ata Niyazov (130201108)</name>
        <email>130201108@kocaeli.edu.tr</email>
    </author>
    <description>Robot_Evi - Gezgin Robotlara Giris ders projesi</description>
</model>
